{% extends "base.html" %}
{% block title %}Удалить изображение{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:picture_detail' picture.pk %}">View</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Вы уверены что хотите удалить "{{ picture.caption }}"?</h1>
    <form method="POST" action="{% url "webapp:picture_delete" picture.pk %}" class="text-center">
        {% include 'partial/form.html' with button_text='Удалить'%}
    <p><a href="{% url 'webapp:picture_detail' picture.pk %}">Назад</a></p>
    </form>
{% endblock %}
